

h5 {
  font-weight: bold;
}

span {
  font-weight: bold;
}
.backgroundImage {
  background-image: url("https://i.imgur.com/8NnJkZ1.jpg");
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

.enter {
  margin-top: 100px;
  font-family: "Comfortaa";
  font-weight: bold;
}

.btn-light{
  background-color:#E2B69C;
  border-color:#E2B69C;
}
