.backgroundStyle {
  background-color: #f4ac45;
  background-size: cover;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footerDesign {
  padding-top: 25px;
  font-family: "Comfortaa";
  font-weight: bold;
}
