.backgroundHeader {
  background-size: cover;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Comfortaa", cursive;
}
.nav-item {
  padding-top: 25px;
}
.profile {
  font-weight: bold;
}
.community {
  font-weight: bold;
}
.jobs {
  font-weight: bold;
}
p {
  text-decoration: none;
  color: black;
}
