.post {
  font-family: "Comfortaa";
  font-weight: bold;
  padding-top: 40px;
  padding-left: 40px;
}
.search {
  font-family: "Comfortaa";
  font-weight: bold;
  padding-left: 40px;
}

.modal-portrait {
max-width: 100%;
}